.img-responsive {
   max-height: 200px !important;
}

.ingredient-list-item {
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;

}

.ingredient-list-item div {
   min-width: 100px;
}